body{
	font-family: 'Lobster', cursive;

}
header{
	height: 60vh;
	justify-content: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 30px;

}
h1, h2, h3,h4{
	margin: 0;
	font-family: 'Modak', cursive;
	font-weight: 290;

}
p{
	font-family: 'Baloo Tamma 2', cursive;
}
.container{
	width: 100%;

}
.logo img{
	border-radius: 50%;
	max-width:125px;
    max-height:175px;
    width: auto;
    height: auto;
}
nav{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E6E6FA;
	padding: 30px;

}
nav ul{
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

}
nav ul li{
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	padding: 2%;
}
nav ul li a{
	display: inline-block;
	padding: 10px 0;
	width: 100%;
	color: #000;
	text-decoration: none;

}

nav ul{
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #E6E6FA;
	padding: 30px;

}
.botao{
	color: #0000;
	text-decoration: none;
	padding: 10px 30px;
	background-color: #E6E6FA;
	font-size: .9em;
	border-radius: 30%;
}
#sobre{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #000000;
}

.container .sobree {
	margin-top: 20px;
	font-size: 2em;
	text-align: center;
	background-color: #B0C4DE;
}

.foto1 img{
	width: 60%;
	max-width:300px;
    max-height:300px;
    float: left;
    margin-left: 100px;
    margin-bottom: 30px;
}

.foto1{
	float: left;
	width: 40%;
}

.textosobre{
	float: right;
	width: 60%;
	margin-right: 100px;
}
#sobre{
	display: flex;
	flex-direction: row;
	align-items:center;
	text-align: center;
	background-color: #B0C4DE;
	color: #000000;
	
}
#especialidades {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
}

#especialidades div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}

#especialidades p {
	line-height: 1.5;
	margin: 2vh;
	font-size: 1.2em;
}

#especialidades img {
	margin: 10px 0;
	max-width:125px;
    max-height:175px;
}

#especialidades h2 {
	font-size: 2em;
}
#especialidades {
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	max-width: 1000px;
	margin: 0 auto;
}

#especialidades h2 {
	text-align: center;
	width: 100%;
}

#especialidades div {
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
}


#competencias img{
	max-width:125px;
    max-height:175px;
    width: 100%;
    margin-bottom: 0;
}


#competencias{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 20px; 
}
#competencias div {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 30px;
}
#competencias h2 {
	font-size: 2em;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
#competencias h3,p {
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
#competenias div {
	flex-grow: 1;
	flex-basis: 150px;
	padding: 0 10px;
}
#competencias a{
	text-decoration: none;
}
#competenias .comp p{
	margin-top: 0;
	padding-right: 15px;
	padding-left: 15px;
	line-height: 1.5;	l
}
#competencias{
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}
#competencias h2,h3{
	width: 100%;
	text-align: center;
}
#competencias .comp{
	width: 33.3333333%;
	text-align: center;
}




@media screen and(min-width: 768px){
	nav{
		flex-direction: row;
		justify-content: space-around;
	}
	nav ul{
		flex-direction: row;
		width: 70%;
	}
}
}